.navigation {
  display: flex;
}

.navigation__item {
  margin-left: 25px;
  transition: 0.3s;
  border-bottom: 2px solid transparent;

  &:hover {
    font-weight: 600;
  }
}

.navigation__item:first-child {
  margin-left: 0;
}