.socials {
  display: flex;
  margin-right: 30px;
}

.socials__link {
  fill: #414c63;
  transition: 0.3s;
}

.socials__item {
  width: 25px;
  height: 25px;
  margin-left: 40px;
  transition: 0.3s;

  &:first-child {
    margin-left: 0;
  }
}

.socials__link:hover {
  fill: #5800f5;
  transition: 0.3s;
}
