section(id="intro").section.introduction
    include header.pug
    .container.introduction__container
        .introduction__title
            p.text-alpha.text-aplha--header Личный сайт <br> веб разработчика
            h1.headline.headline--title Илья 
                span.span.span--title Плотников
            a(href="#hello").button.button--scroll Скролл
                +icon ('scroll', 'icon-scroll')